{% extends "template.html" %}
{% block body %}
<body>

    	<div class="container">
    		<h1>Login with Coinbase</h1>
    		<br>
            <a href="{{auth_url}}">Login</a>

    	</div>


    </body>
{% endblock %}