{% extends "template.html" %}
{% block body %}
  <body>
    <div class="container">
      <div class = "jumbotron">
        <center>
        <h1>Welcome to toshiTicket</h1>
        <p>Bring your favorite music artists to your city</p>
        <a href="#" class = "btn btn-default">Watch now</a>
        <a href="#" class = "btn btn-default">Tweet us</a>
        {%for message in get_flashed_messages()%}
          {{ message }}
        {% endfor %}
        </center>
      </div>
    </div>

    <center>
    <div class = "container">

      <div class = "row">

        <div class = "col-md-4">
          <h3>How it works<h3>
          <a href="#" class = "btn btn-default">Read more</a>
        </div>

        <div class = "col-md-4">
          <h3>Get started<h3>
          <a href="#" class = "btn btn-default">Read more</a>
        </div>

        <div class = "col-md-4">
          <h3>Who we are<h3>
          <a href="#" class = "btn btn-default">Read more</a>
        </div>

      </div>

    </div>
    </center>

  </body>
{% endblock %}